{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>Что же представляла собой знаменитая теория Раскольникова? Люди, по мнению студента, от рождения подразделяются на две категории. Одни относятся к высшему классу избранных «имеющих дар или талант сказать в среде своей новое слово». Им предначертана необычная судьба. Они делают великие открытия, вершат историю, двигают прогресс. Человек, подобный Наполеону, может ради высшей цели совершать преступления, подвергать других смертельной опасности, переступать через кровь. Их не пугают законы. Для них не существует нравственных принципов. Такие особи рода человеческого могут не думать о последствиях своего поведения и стремятся к достижению своей цели несмотря ни на что. Они «право имеющие». Остальная масса людей – материал, «служащий единственно для зарождения себе подобных».</p>
</div>

{% endblock %}
